header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  @include wide {
    margin-bottom: 2rem;
  }
}
